* {
    box-sizing: 0;
    margin: 0;
}

.reveal {
    position: block;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;

}

.header {
    background: #FBF7EC;
    background: url(../image/index.html.png);
    padding: 20px 95px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav span {
    font-weight: 900;
}

.nav img {
    width: 40px;
}

.menu {
    display: flex;

}

.menu a:hover {
    border-bottom: 1.3px solid #53285C;
    padding: 5px 10px;

}

.menu a {
    color: #53285C;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 800;
}

.menu_mob {
    display: none;
}




.btn {
    padding: 0 0px;
}

.btn a {
    background: #53285C;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.btn a:hover {
    border: 1px solid #53285C;
    background: none;
    color: #53285C;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;


}

.content .image {

    max-width: 450px;

}

.content .image img {
    width: 500px;
}

.content .title {
    max-width: 540px;
    padding: 20px 0;
}

.content .title h1 {
    font-size: 3em;
}

.content .title h1 strong {

    color: #FF725E;


}

.content .title p {
    max-width: 330px;
    font-size: 12px;
    padding: 10px 0;
    color: rgb(109, 109, 109);

}

.admin {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 12px;
    border-radius: 30px;
    max-width: 300px;
}

.content .title .admin i a {
    text-decoration: none;
    color: rgb(109, 109, 109);
    font-size: 20px;
}

.facult {
    display: flex;
    justify-content: center;
}

.fac {
    display: flex;
    justify-content: center;
    position: relative;
    background: #53285C;
    border-radius: 10px;
    padding: 20px;
    bottom: 70px;
    max-width: 800px;
}

.fac .fac-icon {
    align-items: center;
    display: flex;
}

.fac-icon a {
    margin: 0 10px;
    background: #77537D;
    color: #ffffff;
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;

}


.Competences h3 {
    font-size: 14px;
    color: white;

}

.Competences p {
    font-size: 12px;
    color: rgb(148, 148, 148);

}

.bienvenue {
    display: flex;
    background: url(../image/font.png);
    padding: 20px 95px;
}

.logo_isp {
    padding: 50px 0;
    margin: 0 20px;
}

.logo_isp img {
    width: 500px;
    padding: 10px 0;
    object-fit: cover;
}

.bienvenue .txt {
    margin: 0 20px;
}

.bienvenue .txt span {
    color: #4f2658;
    font-size: 30px;
    font-weight: 800;
}

.bienvenue .txt h2 {
    font-size: 3em;
}

.bienvenue .txt p {
    font-size: 12px;
    padding: 10px 0;
    color: rgb(109, 109, 109);

}

.group_btn {
    display: flex;
}

.btn3 {
    padding: 0 10px;
}

.btn3 a {
    background: #FF725E;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
}

.btn3 a:hover {
    border: 1px solid #FF725E;
    background: none;
    color: #FF725E;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.trace {
    background: url(../image/Sem\ Título-1.png);
    text-align: center;
    padding: 20px 95px;

}

.tracetitle p {
    color: rgb(148, 148, 148);
}

.tracetitle h3 {
    color: #FF725E;
    font-size: 3em;
}

.nos {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow: hidden;
}

.owl-carousel {
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;


}

.cour {
    background: white;
    border: 1px rgba(0, 0, 0, 0.137) solid;
    padding: 5px;
    border-radius: 8px;
    text-align: left;
    width: 260px;

}

.cour span {
    color: #FF725E;
    font-weight: 600;
    border-radius: 20px;
    padding: 5px;
}

.cour p {
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    color: rgb(148, 148, 148);
}

.cour img {
    width: 250px;
}

.cour a {
    text-decoration: none;
    color: #FF725E;
}


.cour .bi-person-fill {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 6px 8px;
    margin: 5px;
}


.Commentaire {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.containe {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF7EC;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.details .job {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

/* swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}



.experience {
    display: flex;
    justify-content: space-around;
    background: #FBF7EC;
    background: url(../image/index.html.png);
    padding: 20px 95px;
    align-items: center;
}

.experience img {
    width: 500px;
}

.experience strong {

    color: #FF725E;
}

.experience .fac-icon {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.citation {
    text-align: center;
    color: white;
    padding: 50px 95px;
    background: #53285C;

}

.citation em {
    font-family: "Vujahday Script", cursive;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;

}

.citation p {
    font-style: italic;
    margin: 10px 0;
}

.principaux {
    background: url(../image/font.png);
    text-align: center;
    padding: 20px 95px;
    margin: 20px 0;
}



.accordion {
    text-align: left;
}


.rejoins {
    color: white;
    text-align: center;
    padding: 50px 95px;
    background: linear-gradient(to bottom, #241b004a, #291e00),
        url('https://prod.cdn-medias.jeuneafrique.com/cdn-cgi/image/q=auto,f=auto,metadata=none,width=1256,height=628,fit=cover/https://prod.cdn-medias.jeuneafrique.com/medias/2023/09/12/jad20230912-tribune-canada-etudiants-africains-1256x628.jpg');
    margin: 20px 0;
}

.rejoins_txt {
    margin: 20px;
}

.rejoins_txt h3 {
    font-size: 4em;

}

.rejoins_txt span {
    font-size: 20px;
    color: #FB9A00;
    font-weight: 600;
}

.btn_pr {
    margin: 20px 0;
}

.btn_pr .btn a {
    background: white;
    color: #53285C;
    font-weight: 700;

}

.btn_pr .btn a:hover {
    border: 1px solid white;
    background: none;
    color: white;

}

.btn_pr .btn .spe {
    border: 1px solid white;
    background: none;
    color: white;
}

.btn_pr .btn .spe:hover {
    background: white;
    color: #53285C;
    font-weight: 700;
}

.container {
    margin: 0px 0;
}


.counter {
    color: #53285C;
    background: linear-gradient(to right bottom, #fff 50%, #f9f9f9 51%);
    text-align: center;
    width: 200px;
    padding: 20px 0 0;
    margin: 0 auto;
    border-radius: 50px 0;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.counter .counter-icon {
    font-size: 45px;
    margin: 0 0 10px;
}

.counter h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 20px;
}

.counter .counter-value {
    color: #fff;
    background: linear-gradient(to right bottom, #77537D, #53285C);
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding: 7px 0 3px;
    display: block;
}

.counter.blue {
    color: #FB9A00;
}

.counter.blue .counter-value {
    background: linear-gradient(to right bottom, #FF725E, #FF725E);
}

.counter.orange {
    color: #FB9A00;
}

.counter.orange .counter-value {
    background: linear-gradient(to right bottom, #FCCA09, #FB9A00);
}

.counter.green {
    color: #03BFB0;
}

.counter.green .counter-value {
    background: linear-gradient(to right bottom, #00E2CD, #03BFB0);
}

.news {
    margin: 20px 95px;
    padding: 50px 95px;
    text-align: center;
    background: #53285C;
    background-image: url(../image/font.png);
    border-radius: 10px;
}

.news h3 {
    color: white;
}

.news p {
    color: rgb(203, 203, 203);
}

.newamin {
    display: flex;
    justify-content: center;
}

footer {
    background-image: url(../image/font.png);

}

footer p {
    font-size: 12px;
    font-weight: 400;
    color: rgb(203, 203, 203);

}

footer .btn {
    background: #FF725E;
    border: none;
    color: white;
}


/*  */

.titl {

    padding: 0px 0;
}

.conten {
    text-align: center;
    margin: 50px 0;


}


.titl h1 {
    font-size: 3em;
}

.titl h1 strong {

    color: #FF725E;


}

.titl p {
    max-width: 330px;
    font-size: 12px;
    padding: 10px 0;
    color: rgb(109, 109, 109);

}

.maps {
    overflow: hidden;
    filter: blur(2px);
    transition: all 0.3s ease-in-out;
}

.maps:hover {
    filter: blur(0px);
}

.bg-light .btn {
    background: #53285C;
    border: none;
    border-radius: 20px;
}

/*  */

.admission {
    padding: 20px 95px;
    background-image: url(https://argotsoul.com/wp-content/uploads/2021/08/HBCU-Scholars-scaled.jpeg);
    backdrop-filter: blur(10px);
}

/* * */


.consigne {

    background: #53285C;
    color: white;
}

.cons_title {
    padding: 20px 50px;
}

.consigne .cons {
    display: flex;
    justify-content: space-around;

}

.cons_ittem {
    display: flex;
    padding: 50px;
    width: 100%;
    border-right: #53285C solid 2px;
    background: #4f2658;
    align-items: center;
}

.cons_ittem .sepa {
    padding: 10px;
    margin: 0 10px;
    border-right: rgba(255, 255, 255, 0.265) solid 2px;
}

.cons_ittem .sepa h4 {
    font-size: 50px;
}

.info_adm {
    display: flex;
    padding: 20px 95px;
    justify-content: space-between;
}

.info_adm .btn {
    padding: 20px 0;
}

.info_adm h3,
h4 {
    color: #FF725E;
    padding: 10px 0;
}

.info_detail {
    width: 70%;
    margin: 0 20px;
}

.av {
    width: 30%;
}

.avis {

    background: #ebebeb;
    margin: 20px 0;
    padding: 20px;
}

.avis .bar {
    border-left: #FF725E solid 2px;
    padding: 0px 20px;
    align-items: center;
}

.avis h3 {
    font-size: 18px;
    color: black;
}

.avis p {
    font-size: 14px;
}

.registraire {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 95px;
}

.regi {
    width: 100%;
    background: url(../image/font.png);
    padding: 20px;
    align-items: center;
    margin: 0 10px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
    color: white;

    padding: 50px;
}

.item h1 {
    font-size: 72px;
    padding: 30px;
}

.item h1 strong {
    color: #FF725E;
}


@media (max-width:480px) {
    .menu_ittems {
        display: none;

    }

    .menu_mob {
        display: block;
    }

    .menu .btn a {
        display: none;
    }

    .menu_mob button {
        font-size: 3em;
        font-weight: 900;
        color: #53285C;
    }

    .offcanvas-body .menu_offcavas a {
        font-size: 2em;
        padding: 20px 30px;

    }

    .offcanvas {}

    .offcanvas .btn a {
        display: block;
    }

    .offcanvas .btn {
        padding: 20px 0;
    }

    .offcanvas {
        padding: 10px 0;
    }



    .header {
        background: #FBF7EC;
        background: url(../image/index.html.png);
        padding: 10px 10px;

    }


    .content {
        display: flex;
        flex-direction: column;
        margin: 20px 0;


    }

    .content .image {
        display: none;
        max-width: 100%;

    }

    .content .image img {
        width: 470px;
    }

    .content .title {
        max-width: 100%;
        padding: 20px 0;
    }

    .fac {
        display: flex;
        justify-content: center;
        position: relative;
        background: #53285C;
        border-radius: 0;
        padding: 15px 10px;
        bottom: 0px;
        max-width: 100%;
    }

    .fac .fac-icon {
        display: flex;
        align-items: center;
        width: 33.333%;
        padding: 0 0px;
    }

    .fac-icon a {
        background: #77537D;
        color: #ffffff;
        padding: 7px;
        font-size: 16px;
        border-radius: 8px;

    }

    .fac-icon p {
        display: block;
    }



    .Competences h3 {
        padding: 10px;
        font-size: 12px;
        color: white;
        margin: 0;

    }

    .fac .fac-icon .Competences p {
        display: none;
    }

    .fac-icon a {
        margin: 0;
    }

    .bienvenue {
        display: flex;
        flex-direction: column;
        background: url(../image/font.png);
        padding: 10px 10px;
    }

    .trace {
        background: url(../image/Sem\ Título-1.png);
        text-align: left;
        padding: 10px 10px;
    }

    .tracetitle {
        text-align: left;
        margin: 20px 0;
    }

    .experience {
        display: flex;
        flex-direction: column;
        background: #FBF7EC;
        background: url(../image/index.html.png);
        padding: 10px 10px;
        align-items: center;
    }

    .owl-carousel {
        display: flex;
        justify-content: center;
        margin: 0px 0;


    }

    .nos {
        display: flex;
        justify-content: left;
        margin: 20px 0;
        overflow: hidden;

    }

    .Commentaire {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        overflow: hidden;
    }

    .commenter {
        background: white;
        border: 1px rgba(0, 0, 0, 0.137) solid;
        padding: 5px;
        border-radius: 8px;
        text-align: left;
        width: 100%;
        margin: 0 8px;
    }

    .experience {
        display: flex;
        justify-content: space-around;
        background: #FBF7EC;
        background: url(../image/index.html.png);
        padding: 10px;
        align-items: flex-start;
    }

    .experience img {
        width: 100%;
    }

    .experience .txt_exp {
        width: 100%;
    }

    .txt_exp .Competences {
        margin: 0 10px;
    }

    .citation {
        text-align: center;
        color: white;
        padding: 30px 10px;
        background: #53285C;

    }

    .principaux {
        background: url(../image/font.png);
        text-align: center;
        padding: 10px 10px;
        margin: 20px 0;
    }


    .rejoins {
        color: white;
        text-align: left;
        padding: 10px 10px;
        background: linear-gradient(to bottom, #241b004a, #291e00),
            url('https://prod.cdn-medias.jeuneafrique.com/cdn-cgi/image/q=auto,f=auto,metadata=none,width=1256,height=628,fit=cover/https://prod.cdn-medias.jeuneafrique.com/medias/2023/09/12/jad20230912-tribune-canada-etudiants-africains-1256x628.jpg');
        margin: 20px 0;
    }

    .rejoins_txt h3 {
        font-size: 2em;

    }

    .prin_btn {
        display: flex;
        margin: 20px 0;
    }

    .counter {
        color: #53285C;
        background: linear-gradient(to right bottom, #fff 50%, #f9f9f9 51%);
        text-align: center;
        width: 100%;
        padding: 20px 0 0;
        margin: 10px auto;
        border-radius: 50px 0;
        box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }


    .btn_pr .btn a {
        padding: 12px;
        background: white;
        color: #53285C;
        font-weight: 700;
        font-size: 12px;

    }




    .news {
        margin: 20px 10px;
        padding: 50px 10px;
        text-align: left;
        background: #53285C;
        background-image: url(../image/font.png);
        border-radius: 10px;
    }
/* admison */
    .consigne {

        background: #53285C;
        color: white;
    }
    
    .cons_title {
        padding: 10px 10px;
    }
    
    .consigne .cons {
        display: flex;
       
    
    }
    
    .cons_ittem {
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
        width: 100%;
        border-right: #53285C solid 2px;
        background: #4f2658;
        align-items: center;
    }
    
    .cons_ittem .sepa {
        padding: 10px;
        margin: 0 0px;
        border-right: none;
        border-bottom: rgba(255, 255, 255, 0.265) solid 2px;
    }
    
    .cons_ittem .sepa h4 {
        font-size: 30px;
    }
    
    .info_adm {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        justify-content: space-between;
    }
    
    .info_adm .btn {
        padding: 20px 0;
    }
    
    .info_adm h3,
    h4 {
        color: #FF725E;
        padding: 10px 0;
    }
    
    .info_detail {
        width: 100%;
        margin: 0 20px;
    }
    
    .av {
        width: 100%;
    }
    
    .avis {
    
        background: #ebebeb;
        margin: 20px 0;
        padding: 20px;
    }
    
    .avis .bar {
        border-left: #FF725E solid 2px;
        padding: 0px 20px;
        align-items: center;
    }
    
    .avis h3 {
        font-size: 18px;
        color: black;
    }
    
    .avis p {
        font-size: 14px;
    }
    
    .registraire {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
    }
    
    .regi {
        width: 100%;
        background: url(../image/font.png);
        padding: 20px;
        align-items: center;
        margin: 10px 0px;
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    



}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }

    .nav-btn {
        display: none;
    }
}